#footer{
    margin-top: 2.5rem;
    background-color: antiquewhite;
    border-top: 1px solid black;
    width: 100%;
    position:sticky;
    top: 100%;
}
#github{
    height: 10%;
    background-color: black;
}