@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');


#intro {
    background: #8e2de2;
    background: -webkit-linear-gradient(to bottom, #8e2de2, #4a00e0);
    background: linear-gradient(to bottom, #8e2de2, #4a00e0);
    margin-bottom: 1rem;
    padding: 4rem 1rem;
    border-bottom: 3px black solid;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.4);
}
#details{
    margin: 0 auto;
    /* overflow-x: hidden; */
    font-family: 'Rubik', sans-serif;
}
#details div div{
    padding: 1rem;
    margin: 1rem;
    color: rgb(235, 237, 237);
    background-image: linear-gradient(to bottom, #6995dc, #723ed8);
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.4);
}
#details div{
    width: 95%;
    margin:0 auto;
}
#intro p {
    font-family: 'Rampart One', cursive;
    max-width: 80%;
    margin: auto;
}
#detail1, #detail2{
    text-align: left;
    padding:5px;
    font-size:large ;
    margin-bottom: 2px;
    font-weight: 500;
}
.num{
    font-size: 5rem;
    padding: 5px;
}
#hr2{
    border: 1px solid black;
    margin: 2px 5px;
    opacity: 0.8;
}

